In [1]:
import yaml
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import sys
import os
import datetime
import re
from collections import defaultdict
import pickle
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, MinMaxScaler

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
# !git clone https://github.com/aavail/ai-workflow-capstone

In [2]:
params = yaml.safe_load(open('../params.yaml'))

TRAIN_PATH = params['path']['train']
TEST_PATH = params['path']['test']
MODEL_PATH = params['path']['model']

In [3]:
def collect_data(path):
    
    if not os.path.isdir(path):
        raise(Exception('Directory does not exist'))
    
    columns = ['country', 'customer_id', 'invoice', 'price', 'stream_id', 'times_viewed', 'year', 'month', 'day']
    json_list = [i for i in os.listdir(path) if re.fullmatch(r'.+\.json$', i)]

    data = pd.DataFrame(columns=columns)

    if len(json_list) < 1:
        raise(Exception('No file to load'))
       
    
    for file_name in json_list:
        df = pd.read_json(os.path.join(path, file_name))
        df.columns = columns
        data = data.append(df)
           
    return data

In [4]:
def get_data(path, country=None):
    
    df = collect_data(path)
    
    if country:
        if country not in df.country.unique():
            raise Exception('Country not found')
        df = df[df.country==country]
    
    
    df['date'] = pd.to_datetime(df.year.astype('str')+'-'+df.month.astype('str')+'-'+df.day.astype('str'))
    df['invoice'] = df.invoice.str.extract(r'([0-9]+)')
    
    start_date = df.date.min()
    end_date = df.date.max()
    dates_range = pd.date_range(start_date, end_date)
    
    df_to_join = pd.DataFrame({'date': dates_range})
    df_to_join['month'] = df_to_join.date.dt.strftime('%Y-%m')

    
    
    df = df.groupby('date').agg({'country': len,
                                 'invoice': lambda x: len(np.unique(x)),
                                 'stream_id': lambda x: len(np.unique(x)),
                                 'times_viewed': np.sum,
                                 'price': np.sum}).reset_index()
    
    df.rename(columns={'invoice': 'unique_invoices',
                       'times_viewed': 'total_views',
                       'price': 'revenue',
                       'country': 'purchases',
                       'stream_id': 'total_streams'}, inplace=True)
  
    
    
    df = pd.merge(df_to_join, df, how='left', on='date').fillna(0)
   
    return df

In [5]:
data = get_data(TEST_PATH)
data.head()

,date,month,purchases,unique_invoices,total_streams,total_views,revenue
0,2019-08-01,2019-08,1839.0,99.0,905.0,12229.0,6477.52
1,2019-08-02,2019-08,1455.0,66.0,842.0,7801.0,4666.74
2,2019-08-03,2019-08,0.0,0.0,0.0,0.0,0.00
3,2019-08-04,2019-08,541.0,33.0,409.0,3232.0,1310.75
4,2019-08-05,2019-08,1490.0,57.0,830.0,7908.0,8444.06

In [6]:
def engineer_features(data, mode='train'):

    def get_value(start_date, end_date, feature='revenue', func=np.sum):
        mask = np.in1d(dates, np.arange(start_date, end_date, dtype='datetime64[D]'))
        return func(data.loc[mask, feature])
    
    dates = data.date.values.copy().astype('datetime64[D]')   
    periods = [7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
    columns = defaultdict(list)
    target = []
    
    for idx, date in enumerate(dates[365:-30]):
        cur = np.datetime64(date)

        for per in periods:
            columns[f'{per}_revenue'].append(get_value(cur-np.timedelta64(per, 'D'), cur))
          
        target.append(get_value(cur, cur+np.timedelta64(30, 'D')))
        columns['year_ago'].append(get_value(cur-np.timedelta64(365, 'D'), cur+np.timedelta64(365, 'D')))
        columns['mean_invoice'].append(get_value(cur-np.timedelta64(30, 'D'), cur, 'unique_invoices', np.mean))
        columns['mean_views'].append(get_value(cur-np.timedelta64(30, 'D'), cur, 'total_views', np.mean))
            
    return pd.DataFrame(columns), target

In [7]:
def load_model(country, model):
    pass

In [33]:
# Функция, которая обучвет модель и слхраняет ее в папке со страной

def fit_model(train_data):
    
    X, y = engineer_features(train_data)
    
    X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)
    
    forest_reg = RandomForestRegressor(random_state=42)

    pipline = Pipeline(steps=[
        ('scaler', StandardScaler()),
        ('model', forest_reg)
    ])
    
    pipline.fit(X_train, y_train)
    preds = pipline.predict(X_val)
    
    
    
    print(f'RMSE on validation = {np.sqrt(mean_squared_error(preds, y_val))}')
    
    return pipline

In [21]:
def select_model(country):
    pass

In [31]:
def work(mode, country=None, model_name=None):
    
    train_data = get_data(TRAIN_PATH, country)
    
    if mode in ['test', 'predict']:
        test_data = get_data(TEST_PATH, country)
        test_data = train_data.iloc[-365:, :].append(test_data)
        X_test, y_test = engineer_features(test_data)
        
        # Если не указано имя модели
        if not model_name:
            
            # Если нет модели, обученной по этой стране, то обучаем модель и сохраняем
            if os.path.isdir(os.path.join(MODEL_PATH, country)):
                model = fit_model(train_data, country)
                
            # Если есть модели по этой стране, то загружаем лучшую модель   
            else:
                model = select_model(country)
                
        # Если указано имя модели, то загружаем эту модель из папки по стране
        else:
            model = load_model(country, model_name)
            
        preds = model.predict(X_test)
        if mode=='predict':
            return preds
        
        return np.round(mean_squared_error(y_test, preds))
        
    
    # Если режим работы обучение, то обучаем модель, выводим метрики и сохраняем модель в папке со страной
    elif mode=='train':
        model = fit_model(train_data)
        
    else:
        raise(Exception('Unknown mode'))

In [32]:
work(mode='train')

RMSE on validation = 10588.339452349033

In [22]:
-a

-3

In [102]:
data

,date,month,purchases,unique_invoices,total_streams,total_views,revenue
0,2019-08-01,2019-08,1839.0,99.0,905.0,12229.0,6477.52
1,2019-08-02,2019-08,1455.0,66.0,842.0,7801.0,4666.74
2,2019-08-03,2019-08,0.0,0.0,0.0,0.0,0.00
3,2019-08-04,2019-08,541.0,33.0,409.0,3232.0,1310.75
4,2019-08-05,2019-08,1490.0,57.0,830.0,7908.0,8444.06
...,...,...,...,...,...,...,...
123,2019-12-02,2019-12,5331.0,151.0,1774.0,24650.0,57195.74
124,2019-12-03,2019-12,3365.0,149.0,1439.0,17528.0,10364.64
125,2019-12-04,2019-12,2438.0,138.0,1129.0,16620.0,9049.19
126,2019-12-05,2019-12,4940.0,145.0,1677.0,20959.0,21808.10
127,2019-12-06,2019-12,1632.0,49.0,1084.0,7794.0,9226.48

In [101]:
128+365

493